<div class="show">

    <% cache @product do %>

    <p class="show-name">
    <%= @product.name %>
    </p>

    <p class="show-name">
    <%= @product.description %>
    </p>

    <p class="show-name">
    Color:
    <%= @product.colour %>
    </p>

    <p class="show-name">

    <%= image_tag(@product.image_url, width: "700", class: "img-zoom", data_zoom_image:@product.image_url) %>
    </p>

    <p class="show-name">

    <%= number_to_currency(@product.price) %>
    </p>


    <center><%= form_tag "/payments/create" do %>
    <%= render partial: "shared/stripe_checkout_button" %>
    <%= hidden_field_tag(:product_id, @product.id) %>
    <% end %></center>


    <div class="edit-back">
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>

      <div id="edit-destroy">
      <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>

    </div>

    <% end %>

</div>



<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

<p>Average Rating: <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div></p>



<%= render 'new_comment' %>
<%= render 'comments' %>





