<!DOCTYPE html>
<html>
  <head>
    <title>Seth's Gypsy Goods</title>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>


    <!-- potential css fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Monoton" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

 <body>

<!--navbar starts here-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="projectName navbar-brand">
            <ul class="nav navbar-nav navbar-right">
              <a><%= link_to "Seth's Gypsy Goods", root_path, class: "nav-item nav-link" %></a>
            </ul>
          </div> <!--end projectName -->
        </div> <!--end navbar-header -->

<!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About", about_path, class: "nav-item nav-link" %></li>
            <li><%= link_to "The Goods", products_path, class: "nav-item nav-link" %></li>
            <li><%= link_to "Contact", contact_path, class: "nav-item nav-link" %>
            </li>

            <li>
              <% if user_signed_in? %>
                <a><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                <% else %>
                  <%= link_to('Login', new_user_session_path) %></a>
                <% end %>
            </li>

            <li><%= form_tag("/products", method: "get") do %>
              <%= label_tag(:q, "Search for Goods:") %>
              <%= text_field_tag(:q) %>
              <%= submit_tag("Search") %>
            </li>
          <% end %>

          </ul>
        </div> <!-- nav -->
      </div><!-- end nav container-->
    </nav> <!-- end navbar-->

<% if notice %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<% if alert %>
  <p id="alert" class="alert alert-info"><%= notice %>Incorrect email and or password. Remember to add @ and .com in email address. Thank you!</p>
<% end %>

   <%= yield %>


    <footer>
      <div id="footer"> <!--Start of footer -->
    <div class="social">
      <a target="_blank" title="follow me on facebook" href="https://www.facebook.com/seth.dornbusch">
        <img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook40x40.png">
      </a>

       <a target="_blank" title="follow me on instagram" href="https://www.instagram.com/sethdylan/">
        <img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram40x40.png" border=0>
      </a>

       <a target="_blank" title="follow me on Twitter" href="https://mobile.twitter.com/sethdornbusch">
        <img alt="follow me on twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter40x40.png" border=0>
      </a>

      <a target href="https://sg.linkedin.com/pub/seth-dornbusch/8/70/649">
        <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_120x33.png" width="120" height="33" border="0" alt="View Seth Dornbusch's profile on LinkedIn">
      </a> <a id="tag">&copy; 2016 Seth's Gypsy Goods</a>
    </div>
  </div> <!-- End of footer -->

    </footer>

  </body>
</html>
